@font-face {
    font-family: 'BeautyDemo';
    src: url('font/BeautyDemo.ttf')
}
@font-face {
    font-family: 'AppleGaramond';
    src: url('font/AppleGaramond.ttf')  
}

.Liens
{
    color: black;
}

#TitreDuSite
{
    color: black;
    font-family: 'BeautyDemo';
    font-size: 4.0em;
    text-align: center;
    font-weight: normal;
}

p
{
    font-family: "AppleGaramond";

}

h2 
{
    font-family: 'BeautyDemo';
    font-size: 3.0em;
    font-weight: normal;
    margin: 0%;
    
}
#Sommaire
{
    margin-bottom: 20px;
}